@import "variables";

.inline_block{
  display: inline-block;
}

.float_right{
  float:right;
}

.grey-border-left{
  border-left: $grey solid 1.5px;
}
.grey-border-right{
  border-right: $grey solid 1.5px;
}
.grey-border-top{
  border-top: $grey solid 1.5px;
}
.grey-border-bottom{
  border-bottom: $grey solid 1.5px;
}

.active-border{
  border-color: #cc3387 !important;
}

.buttons-are-small{
  .mat-button{
    width: 34px;
    height: 34px;
    min-width: 34px;
    position: relative;
    top: 50%;
    &:first-child{
      right: 12px;
    }
    &:last-child{
      left: 4px;
    }
    mat-icon{
      position: relative;
      top: 2px;
      font-size: 13px;
    }
  }
}

.buttons-are-with-border{
  .mat-button {
    border: $grey solid 1.5px;
    border-radius: 5px;
  }
}

