.inline_block{
  display: inline-block;
}

.float_right{
  float:right;
}

.grey-border-left{
  border-left: #cccccc4f solid 1.5px;
}
.grey-border-right{
  border-right: #cccccc4f solid 1.5px;
}
.grey-border-top{
  border-top: #cccccc4f solid 1.5px;
}
.grey-border-bottom{
  border-bottom: #cccccc4f solid 1.5px;
}

