@import "variables";

.inline_block{
  display: inline-block;
}

.float_right{
  float:right;
}

.link{
  color: $link_color;
  cursor: pointer;
}

.text_under_line{
  text-decoration: underline;
}

.line-with-text{
  width:100%;
  text-align:center;
  border-bottom: 1px solid $grey;
  line-height:0.1em;
  margin:10px 0 20px;
  span {
    background:#fff;
    padding:0 10px;
    color: $dark_grey;
    font-weight: 100;
  }
}
.inputs_border{
  border: $light_black solid 1px;
}
.grey-border{
  border: $grey solid 1.5px;
}
.grey-border-left{
  border-left: $grey solid 1.5px;
}
.grey-border-right{
  border-right: $grey solid 1.5px;
}
.grey-border-top{
  border-top: $grey solid 1.5px;
}
.grey-border-bottom{
  border-bottom: $grey solid 1.5px;
}

.active-border{
  border-color: #cc3387 !important;
}

.header{
  font-size: 20px !important;
  font-weight: bold;
  color: #464646;
}
.sub-title{
  font-size: 13px;
  color: $dark_grey;
  font-weight: 300;
}

.color-text-middle-grey{
  color: $middle-grey
}
.buttons-are-small{
  .mat-button{
    width: 34px;
    height: 34px;
    min-width: 34px;
    position: relative;
    top: 50%;
    &:first-child{
      right: 12px;
    }
    &:last-child{
      left: 10px;
    }
    mat-icon{
      position: relative;
      top: 2px;
      font-size: 13px;
    }
  }
}

.buttons-are-with-border{
  .mat-button {
    border: $grey solid 1.5px;
    border-radius: 5px;
  }
}



