:host{
  mat-card{
    padding-left: 0;
    padding-right: 0;
    mat-card-header{
      border-bottom: #cccccc4f solid 1.5px;
      .card-header-buttons{
        margin-left: auto;
      }
    }

    .mat-grid-tile {
      height: 100% ;
      .card-content-title {
        width: 100%;
        min-height: 100%;
        .inner-header{
          span{
            font-size: 16px;
            font-weight: bold;
            color: #3b3b3b;
            position: relative;
            top: 14px;
            left: 20px;
          }
        }
        .carousel-custom {
          width: 100%;
          min-width: 290px;
          height: 60%;
          button {
            display: inline-block;
            margin: 0;
            padding: 0;
            width: 25px;
            min-width: 26px;
          }
          .carousel-content {
            display: inline-block;
            overflow: hidden;
            width: 218px;
            height: 45px;
            position: relative;
            top: 28px;
            .inner-carousel-content {
              display: flex;
              width: 500px;
              position:relative;
            }
            .carousel-content-item {
              display: inline-block;
              width: 32px;
              text-align: center;
              margin-left: 2.5px;
              margin-right: 2.5px;
              .day-number {
                width: 24px;
                height: 24px;
                border: #ccc solid 1px;
                border-radius: 5px;
                span {
                  position: relative;
                  top: 4px;
                  color: #757575;
                  font-weight: bold;
                }
              }
              .day-name {
                span {
                  color: #ccc;
                  position: relative;
                  right: 3px;
                  font-size: 12px;
                }

              }
            }
          }
        }
      }
    }
  }
}
