@import '../../../../../assets/scss/variables';
:host{
  .add-new-program{
    margin: 27px 0;
    display: flex;
    button{
      border-radius: 20px;
      margin-left: auto;
    }
  }
  .program {
    width: 930px;
    mat-card {
      padding-left: 0;
      padding-right: 0;
      height: 375px;
      mat-card-header {
        border-bottom: #cccccc4f solid 1.5px;
        height: 51px;
        margin: 0 20px;
        .mat-card-title{
          font-size: 20px;
          font-weight: bold;
        }
        .mat-card-subtitle{
          margin:0;
          position: relative;
          bottom: 14px;
        }
        .card-header-buttons {
          margin-left: auto;
          button{
            border-radius: 20px;
          }
          .mat-icon-button{
            mat-icon{
              font-size: 30px;
            }
          }
        }
      }

      .mat-grid-tile {
        height: 100%;
        .card-content-title {
          width: 100%;
          min-height: 100%;
          .inner-header {
            span {
              font-size: 16px;
              font-weight: bold;
              color: #3b3b3b;
              position: relative;
              top: 14px;
              left: 20px;
            }
          }
          .carousel-custom {
            width: 100%;
            min-width: 290px;
            height: 60%;
            display: flex;
            justify-content: center;
            button {
              display: inline-block;
              margin: 0;
              padding: 0;
            }
            .carousel-content {
              display: inline-block;
              overflow: hidden;
              width: 218px;
              height: 48px;
              position: relative;
              margin-bottom: -3px;
              .inner-carousel-content, .inner-carousel-content-months, .inner-carousel-content-income, .inner-carousel-content-students{
                display: flex;
                width: 500px;
                left: 0;
                position: relative;
                -webkit-transition: left 0.25s;
                -moz-transition: left 0.25s;
                -o-transition: left 0.25s;
                transition: left 0.25s;
              }
              .carousel-content-item {
                display: inline-block;
                width: 32px;
                text-align: center;
                margin-left: 2.5px;
                margin-right: 2.5px;
                &:hover{
                  cursor: pointer;
                }
                .day-number {
                  width: 24px;
                  height: 24px;
                  border: #ccc solid 1px;
                  border-radius: 5px;
                  span {
                    position: relative;
                    top: 4px;
                    color: #757575;
                    font-weight: bold;
                  }
                }
                .day-name {
                  span {
                    color: #ccc;
                    position: relative;
                    font-size: 12px;
                  }

                }
              }
              .selectedCarouselItem{
                .day-number{
                  background-color: $base_color;
                  span{
                    color: #fff;
                  }
                }
                .day-name{
                  span{
                    color: $base_color
                  }
                }
                &:after{
                  content: "\A";
                  border-style: solid;
                  border-width: 8px 8px 0 0;
                  border-color: #39919c transparent transparent transparent;
                  display: inline-block;
                  position: relative;
                  top: -8px;
                  -webkit-transform: rotate(-135deg);
                  transform: rotate(-135deg);
                }
              }
            }
          }
          .carousel-custom-month {
            margin-top: 37px;
            .carousel-content-months {
              width: 98px;
              top: 5px;
              .inner-carousel-content-months {
                .carousel-content-item {
                  width: 210px;
                  .month {
                    width: 90px;
                  }
                }
              }
            }
          }
          .carousel-custom-income {
            height: 170px;
            .carousel-content-income {
              width: 433px;
              height: 147px;
              .inner-carousel-content-income {
                height: 147px;
                .carousel-content-item {
                  min-width: 39px;
                  margin-left: 11px;
                  margin-right: 11px;
                  display: flex;
                  flex-direction: column-reverse;
                  .graph {
                    background-color: $base_color;
                  }
                }
              }
            }
          }
          .carousel-custom-students {
            margin-top: 30px;
            .carousel-content-students {
              width: 433px;
              height: 75px;
              .inner-carousel-content-students {
                height: 77px;
                .carousel-content-item {
                  width: 50px;
                  margin-left: 6px;
                  margin-right: 6px;
                  display: flex;
                  justify-content: center;
                  flex-direction: column;
                  img{
                    border-radius: 50%;
                    width: 40px;
                    align-self: center;
                  }
                  span{
                    font-size: 12px;
                    overflow: hidden;
                  }

                }
              }
            }
          }
          .card-content-lessons {
            max-height: 50px;
            margin-top: 23px;
            .lesson{
              display: flex;
              justify-content: space-around;
              height: 43px;
              .card-content-lesson-time, .card-content-lesson-class-teacher{
                align-self: center;
              }
              .card-content-lesson-class-show-more{
                color: $base_color;
                font-weight: bold;
                .mat-icon{
                  position: relative;
                  top: 8px;
                }
              }
            }
          }
        }
      }
    }
  }
}
