<mat-card>
  <mat-card-header>
    <mat-card-title>Enter your email and we will send confirmation link on this email address.</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendEmail()">
      <table cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
              <input matInput placeholder="Email"
                     name="email"
                     formControlName="email"
              >
            </mat-form-field>
            <div
              *ngIf="!forgotPasswordForm.get('email').valid && forgotPasswordForm.get('email').touched"
              class="help-block">
              <span *ngIf="forgotPasswordForm.get('email').errors['email']">This email is invalid!</span>
              <span *ngIf="forgotPasswordForm.get('email').errors['required']">This field is required!</span>
            </div>
          </td>
        </tr>
      </table>
      <mat-card-actions>
        <button mat-raised-button
                color="primary"
                [disabled]="!forgotPasswordForm.valid && forgotPasswordForm.touched || !forgotPasswordForm.touched
    ">Register</button>
      </mat-card-actions>
    </form>
  </mat-card-content>
</mat-card>
