@import "../../../../assets/scss/variables";

.forgot-pass-auth{
  height: 140px;
  border-radius: 10px;
  border: $grey solid 1px;
  box-shadow: none !important;
  .set-message{
    width: 67%;
    margin: 8px auto;
    color: $dark_grey;
    text-align: center;
  }
  .mat-card-header{
    height: 31px;
    .arrow-back{
      float: left;
      position: relative;
      right: 78px;
      top: -6px;
      color: #7eb9c2;
      &:hover{
        cursor:pointer;
      }
    }
  }
  .mat-card-actions{
    position: relative;
    bottom: 25px;
  }
}
.email-was-sent-card{
  .mat-card-actions{
    bottom: 6px;
  }
}
