<mat-card class="auth-modal forgot-pass-auth" *ngIf="emailWasSent === false">
  <mat-card-header>
    <mat-card-title>
      <i class="material-icons arrow-back" (click)="toLoginPage()">
        arrow_back
      </i>
      Reset Password
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendEmail()">
      <table cellspacing="0">
        <tr>
          <td>
            <span class="form-field-header">Enter Email</span>
            <mat-form-field>
              <input matInput
                     name="email"
                     formControlName="email"
              >
            </mat-form-field>
            <div
              *ngIf="!forgotPasswordForm.get('email').valid && forgotPasswordForm.get('email').touched"
              class="help-block">
              <span *ngIf="forgotPasswordForm.get('email').errors['email']">Invalid email, please try again</span>
              <span *ngIf="forgotPasswordForm.get('email').errors['required']">This field is required!</span>
            </div>
          </td>
        </tr>
        <mat-card-actions>
          <button mat-raised-button
                  color="primary"
                  [disabled]="!forgotPasswordForm.valid && forgotPasswordForm.touched || !forgotPasswordForm.touched
    ">Next</button>
        </mat-card-actions>
      </table>
    </form>
  </mat-card-content>
</mat-card>
<mat-card class="auth-modal forgot-pass-auth email-was-sent-card" *ngIf="emailWasSent === true">
  <mat-card-header>
    <mat-card-title>
      Reset Password
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <p class="set-message">
        Please, check your email to reset password
      </p>
      <table>
        <mat-card-actions>
          <button mat-raised-button
                  color="primary"
                  (click)="toLoginPage()">
            To login page</button>
        </mat-card-actions>
      </table>
    </form>
  </mat-card-content>
</mat-card>
