@import "../../../../assets/scss/variables";


.reset-password-auth-card{
  width: 246px !important;
  padding: 24px 47px 4px 47px !important;
  border-radius: 10px;
  border: $grey solid 1px;
  box-shadow: none !important;
  .sub-header{
    font-size: 14px;
    width: 183px;
    margin: -4px auto 8px auto;
    text-align: center;    color: $middle-grey;
  }
  form table .mat-card-actions button {
    margin-top: 18px;
  }
}
