@import "../../../../assets/scss/variables";

::ng-deep .auth-wrapper .email-sent-wrapper {
  .auth-modal {
    width: 456px;
    text-align: center;
    border-radius: 10px;
    border: $grey solid 1px;
    box-shadow: none;
    .mat-card-content{
      color: $light_black;
      line-height: 1.6;
      form > table {
        width: 242px;
        margin: auto;
        .mat-card-actions > button {
          background-color: $base_color;
          color: white;
        }
      }
    }
  }
}
