<mat-tab-group>
  <mat-tab  *ngFor="let role of roles" label="{{role.name}}">
    <div>
      <mat-form-field *ngIf="permissions">
        <mat-select placeholder="Toppings" multiple *ngFor="let key of getKeys(permissions)">
          <!--<mat-select-trigger>-->
            <!--{{toppings.value ? toppings.value[0] : ''}}-->
            <!--<span *ngIf="toppings.value?.length > 1" class="example-additional-selection">-->
        <!--(+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})-->
      <!--</span>-->
          <!--</mat-select-trigger>-->
          <mat-option *ngFor="let permission of permissions[key]" [value]="permission.name">{{permission.name}}: {{permission.event}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-tab>
</mat-tab-group>
