<mat-card class="auth-modal">
  <mat-card-header>
    <mat-card-title>
      <div class="social-data" *ngIf="usedAuthSocial !== false">
        <p>Almost Finish</p>
        <p class="sub-title color-text-middle-grey">Please set up empty rows.</p>
        <img src="{{user?.avatar}}" class="avatar">
        <img src="{{usedAuthSocial === 'facebook'? '../../../../assets/fbLogo.png' : '../../../../assets/gLogo.png'}}" class="icon-social">
        <div *ngIf="user?.name !== null" class="sub-title">{{user.name}}</div>
        <div *ngIf="user?.email !== null" class="sub-title color-text-middle-grey">{{user?.email}}</div>
      </div>
      <div  *ngIf="usedAuthSocial === false">
        <span>New account registration</span>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="signupForm" (ngSubmit)="register()">
      <table cellspacing="0">
        <tr *ngIf="user?.name === null">
          <td>
            <span class="form-field-header">Name</span>
            <mat-form-field>
              <input matInput
                     name="email"
                     formControlName="name"
              >
            </mat-form-field>
            <div
              *ngIf="!signupForm.get('name').valid && signupForm.get('name').touched"
              class="help-block">
              <span *ngIf="signupForm.get('name').errors['required']">This field is required!</span>
            </div>
          </td>
        </tr>
        <tr *ngIf="user?.email === null || !user">
          <td>
            <span class="form-field-header">Email</span>
            <mat-form-field>
              <input matInput
                     name="email"
                     formControlName="email"
              >
            </mat-form-field>
            <div
              *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched"
              class="help-block">
              <span *ngIf="signupForm.get('email').errors['email']">This email is invalid!</span>
              <span *ngIf="signupForm.get('email').errors['required']">This field is required!</span>
              <span *ngIf="signupForm.get('email').errors['apiValidate']">{{signupForm.get('email').errors['apiValidate']}}</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <span class="form-field-header">Password</span>
            <mat-form-field>
              <input matInput
                     formControlName="password"
                     type="password"
                     name="password" required>
            </mat-form-field>
            <div
              *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched"
              class="help-block">
              <span *ngIf="signupForm.get('password').errors['required']">This field is required!</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <span class="form-field-header">Confirm Password</span>
            <mat-form-field>
              <input matInput
                     formControlName="confirm_password"
                     type="password"
                     name="confirm_password" required>
            </mat-form-field>
            <div
              *ngIf="!signupForm.get('confirm_password').valid && signupForm.get('confirm_password').touched"
              class="help-block">
              <span *ngIf="signupForm.get('confirm_password').errors['confirmedPassword']">Password not confirmed!</span>
              <span *ngIf="signupForm.get('confirm_password').errors['required']">This field is required!</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <span class="form-field-header">Enter Phone Number</span>
            <mat-form-field>
              <input matInput
                     formControlName="phoneNumber"
                     type='text' prefix="+ "
                     mask="0 000 000 00 000"
                     name="phoneNumber" required>
            </mat-form-field>
            <div
              *ngIf="!signupForm.get('phoneNumber').valid && signupForm.get('phoneNumber').touched"
              class="help-block">
              <span *ngIf="signupForm.get('phoneNumber').errors['range']">Phone Number should have next format: '3 777 777 77 77'</span>
              <span *ngIf="signupForm.get('phoneNumber').errors['required']">This field is required!</span>
            </div>
          </td>
        </tr>
        <mat-card-actions>
          <button mat-raised-button
                  color="primary"
                  [disabled]="!signupForm.valid && signupForm.touched || !signupForm.touched
    ">Register</button>
        </mat-card-actions>
      </table>
    </form>
    <h4 class="line-with-text"><span>OR</span></h4>
    <div class="social-button fbButton" (click)="loginBySocialAcc('facebook')">
      <img src="../../../../assets/fbLogo26White.png">
      <span>Sign In with FaceBook</span>
    </div>
    <div class="social-button gButton" (click)="loginBySocialAcc('google')">
      <img src="../../../../assets/gLogo.png">
      <span>Sign In with Google</span>
    </div>
    <div class="noAcc" *ngIf="usedAuthSocial === false">
      <span>Already have an account?</span>
      <a [routerLink]="['/auth/login']">Log In</a>
    </div>
    <div class="noAcc noAccUsedAuthSocial" *ngIf="usedAuthSocial !== false">
      <span>By signing up, you agree to the <b>Terms</b> and <b>Conditions</b> and <b>Privacy Policy</b>.
      You also agree to receive product-related email from CC you can unsubscribe at any time.</span>
    </div>
  </mat-card-content>
</mat-card>
