<mat-card class="auth-modal">
  <mat-card-header>
    <mat-card-title>
      <div class="social-data" *ngIf="usedAuthSocial !== false">
        <p>Almost Finish</p>
        <p class="sub-title color-text-middle-grey">Please set up empty rows.</p>
        <img src="{{user.avatar}}" class="avatar">
        <img src="{{usedAuthSocial === 'facebook' ? '../../../../assets/fbLogo.png' : '../../../../assets/gLogo.png'}}" class="icon-social">
        <div *ngIf="user.name !== null" class="sub-title">Evgeniy Gordinskiy</div>
        <div *ngIf="user.email !== null" class="sub-title color-text-middle-grey">evgeniytt@gmail.com</div>
      </div>
      <div  *ngIf="usedAuthSocial === false">
        <span>New account registration</span>
      </div>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="signupForm" (ngSubmit)="register()">
      <table cellspacing="0">
        <tr *ngIf="user.name === null">
          <td>
            <span class="form-field-header">Name</span>
            <mat-form-field>
              <input matInput
                     name="email"
                     formControlName="name"
              >
            </mat-form-field>
            <div
              *ngIf="!signupForm.get('name').valid && signupForm.get('name').touched"
              class="help-block">
              <span *ngIf="signupForm.get('name').errors['required']">This field is required!</span>
            </div>
          </td>
        </tr>
        <tr *ngIf="user.email === null">
          <td>
            <span class="form-field-header">Email</span>
            <mat-form-field>
              <input matInput
                     name="email"
                     formControlName="email"
              >
            </mat-form-field>
            <div
              *ngIf="!signupForm.get('email').valid && signupForm.get('email').touched"
              class="help-block">
              <span *ngIf="signupForm.get('email').errors['email']">This email is invalid!</span>
              <span *ngIf="signupForm.get('email').errors['required']">This field is required!</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <span class="form-field-header">Password</span>
            <mat-form-field>
              <input matInput
                     formControlName="password"
                     type="password"
                     name="password" required>
            </mat-form-field>
            <div
              *ngIf="!signupForm.get('password').valid && signupForm.get('password').touched"
              class="help-block">
              <span *ngIf="signupForm.get('password').errors['required']">This field is required!</span>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <span class="form-field-header">Confirm Password</span>
            <mat-form-field>
              <input matInput
                     formControlName="confirm_password"
                     type="password"
                     name="confirm_password" required>
            </mat-form-field>
            <div
              *ngIf="!signupForm.get('confirm_password').valid && signupForm.get('confirm_password').touched"
              class="help-block">
              <span *ngIf="signupForm.get('confirm_password').errors['confirmedPassword']">Password not confirmed!</span>
              <span *ngIf="signupForm.get('confirm_password').errors['required']">This field is required!</span>
            </div>
          </td>
        </tr>
        <tr>
          <td formGroupName ="phone">
            <span class="form-field-header">Phone Number</span>
            <div class="phoneNumberGroup">
              <div class="plus">
               <span>+</span>
              </div>
              <mat-form-field
                floatLabel="never">
                <input matInput
                       formControlName="country"
                       [maxlength]="2"
                       (keydown)="numberOnly($event, 'country')"
                       placeholder="2">
              </mat-form-field>

              <mat-form-field
                floatLabel="never">
                <input matInput
                       formControlName="area"
                       [maxlength]="3"
                       (keydown)="numberOnly($event, 'area')"
                       placeholder="777">
              </mat-form-field>
              <mat-form-field
                floatLabel="never">
                <input matInput
                       formControlName="prefix"
                       [maxlength]="3"
                       (keydown)="numberOnly($event, 'prefix')"
                       placeholder="777">
              </mat-form-field>
              <mat-form-field
                floatLabel="never"
              >
                <input matInput
                       formControlName="line"
                       [maxlength]="4"
                       (keydown)="numberOnly($event, 'line')"
                       placeholder="7777">
              </mat-form-field>
            </div>
            <div
              *ngIf="!signupForm.get('phone.country').valid && signupForm.get('phone.country').dirty"
              class="help-block">
              <span *ngIf="signupForm.get('phone.country').errors['range']">This field should have until 1 number.</span>
            </div>
            <div
              *ngIf="!signupForm.get('phone.area').valid && signupForm.get('phone.area').dirty"
              class="help-block">
              <span *ngIf="signupForm.get('phone.area').errors['range']">This field should have 3 numbers.</span>
            </div>
            <div
              *ngIf="!signupForm.get('phone.prefix').valid && signupForm.get('phone.prefix').dirty"
              class="help-block">
              <span *ngIf="signupForm.get('phone.prefix').errors['required']">This field is required!</span>
              <span *ngIf="signupForm.get('phone.prefix').errors['range']">This field should have 3 numbers.</span>
            </div>
            <div
              *ngIf="!signupForm.get('phone.line').valid && signupForm.get('phone.line').dirty"
              class="help-block">
              <span *ngIf="signupForm.get('phone.line').errors['required']">This field is required!</span>
              <span *ngIf="signupForm.get('phone.line').errors['range']">This field should have 4 numbers.</span>
            </div>
          </td>
        </tr>
        <div class="additional-options">
          <mat-checkbox
            class="remember-me-checkbox"
            (change)="rememberMe = !rememberMe">
            Remember me
          </mat-checkbox>
        </div>
        <mat-card-actions>
          <button mat-raised-button
                  color="primary"
                  [disabled]="!signupForm.valid && signupForm.touched || !signupForm.touched
    ">Register</button>
        </mat-card-actions>
      </table>
    </form>
    <div class="noAcc">
      <span>By signing up, you agree to the <b>Terms</b> and <b>Conditions</b> and <b>Privacy Policy</b>.
      You also agree to receive product-related email from CC you can unsubscribe at any time.</span>
    </div>
  </mat-card-content>
</mat-card>
