@import "./../../../assets/scss/variables.scss";

:host{
  .mat-toolbar{
    background: transparent;
    .first-header{
      padding-right: 0;
      height: 59px;
      .first-header-content{
        display: flex;
        font-size: $base_font;
        justify-content: space-between;
        min-width: 335px;
        margin-left: auto;
        .profile-details{
          display: flex;
          justify-content: center;
          width: 60%;
          img{
            margin-right: 9px;
            border-radius: 50%;
          }
        }
      }
    }
    .second-header{
      background-color: #7f7f7f;
      height: 39px;
      display: flex;
      justify-content: center;
    }
  }
  .content{
    background-color: #f0f2f5;
    height: 100%;
  }
}
