@import "./../../../assets/scss/variables.scss";

:host{
  .mat-toolbar{
    background: transparent;
    .first-header{
      padding-right: 0;
      height: 59px;
      .first-header-content{
        display: flex;
        font-size: $base_font;
        justify-content: space-between;
        align-items: center;
        min-width: 335px;
        margin-left: auto;
        mat-select{
          width: 340px;
          height: 30px;
          border: $grey solid 1px;
          border-radius: 20px;
          padding: 0 10px;
          margin-top: 5px;
          ::ng-deep .mat-select-arrow{
            display: inline-block;
            padding: 3px;
            margin-bottom: 3px;
            border: $base_color solid;
            border-width: 0 1.5px 1.5px 0;
            transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
          }
        }
        .add-gym-button{
          border-radius: 20px;
          width: 175px;
          height: 30px;
          padding-left: 6px;
          justify-content: center;
          flex-direction: column;
          margin-top: 5px;
          margin-left: 50px;
          .mat-icon{
            font-size: 17px;
            font-weight: bold;
            margin-top: 7px;
          }
        }
        .profile-details{
          display: flex;
          justify-content: center;
          width: 60%;
          align-items: center;
          img{
            margin-right: 9px;
            border-radius: 50%;
            width: 35px;
            height: 35px;
          }
        }
      }
    }
    .second-header{
      background-color: #f7f7f7;
      height: 50px;
      display: flex;
      justify-content: center;
      box-shadow: 0 0 black;
      max-width: 89%;
      margin: auto;
     ::ng-deep .mat-icon{
        position: relative;
        top: 9px;
        right: 5px;
      }
    }
  }
  .content{
    margin: 0 auto;
    height: 100%;
    width: 70%;
    align-self: center;
  }
}
