<mat-toolbar>
  <mat-toolbar-row class="first-header">
    <div class="first-header-content">
      <p *ngIf="schools.length === 1">{{schools[0].name}}</p>
        <div class="noSchools"  *ngIf="schools.length === 0">
          <span>You haven't any GYM yet</span>
        </div>
      <mat-select *ngIf="schools.length > 1" #schoolSelect onselect="onSelectedSchools(schoolSelect)" [value]="schools[0]?.id">
        <mat-option *ngFor="let school of schools" [value]="school.id">{{school.name}}</mat-option>
      </mat-select>
      <button mat-stroked-button class="mat-primary add-gym-button" (click)="openCreateModal()">
        <mat-icon>add</mat-icon>
        Add Gym
      </button>
      <div class="profile-details inline_block">
        <img src="{{avatar}}">
        <span>
          {{name}}
        </span>
      </div>
      <mat-menu #appMenu="matMenu">
        <button mat-menu-item>PricingHome</button>
        <button mat-menu-item>My Details</button>
        <button mat-menu-item>Pricing</button>
        <button mat-menu-item (click)="onLogout()">Logout</button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="appMenu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
  <mat-toolbar-row class="second-header">
  <app-main-menu></app-main-menu>
  </mat-toolbar-row>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
