<div class="setup-acc-wrapper"  *ngIf="tokenWasChecked">
  <mat-card class="auth-modal">
    <mat-card-header>
      <mat-card-title>Set Up Yor Account</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-tab-group [selectedIndex]="currentIndex">
        <mat-tab label="Confirm Phone" [disabled]='currentIndex !== 0'>
          <div class="tab-text tab-text-code">
            <p>
              Thank you for registration in our system.
              <br>
              Verification of email was successful. Please, follow next steps to set up your account.
            </p>
            <p *ngIf="!codeWasChecked">
              We just send a text message with a code to {{user.phone}}. Please enter the code to confirm you phone.
            </p>
          </div>
          <form [formGroup]="setUpForm" class="form-phone-code" *ngIf="!codeWasChecked">
            <table>
              <span class="form-field-header">Enter Code</span>
              <mat-form-field class="confirm-phone">
                <input matInput
                       type="password"
                     formControlName="code">
              </mat-form-field>
              <div
                *ngIf="!setUpForm.get('code').valid && setUpForm.get('code').touched"
                class="help-block">
                <span *ngIf="setUpForm.get('code').errors['wrongCode']">Wrong Code</span>
                <button class="resend" (click)="sendSms()">Resend SMS</button>
              </div>
            </table>
          </form>
        </mat-tab>
        <mat-tab label="Payment" [disabled]='currentIndex !== 1'>
          <div class="tab-text payment-text">
            <p *ngIf="!paymentSettingVerified">
              Enter your payment details to operate
              <br>
              transactions in your gyms.
            </p>
            <p *ngIf="paymentSettingVerified">
              Your payment settings was saved succesfully.
              <br>
              You can re-enter them to update.
            </p>
          </div>
          <form [formGroup]="setUpForm">
            <table>
              <span class="form-field-header">Card Number</span>
              <mat-form-field>
                <input matInput
                       type="password"
                       mask="000 000 000 000"
                       formControlName="card_number">
              </mat-form-field>
              <span class="form-field-header">Expire Date</span>
              <mat-form-field [floatLabel]="never">
                <input matInput
                       mask="00/00"
                       placeholder="MM/YY"
                       formControlName="exp_date">
              </mat-form-field>
              <span class="form-field-header">CVV</span>
              <mat-form-field>
              <input matInput
                     type="password"
                     formControlName="cvv">
              </mat-form-field>
            </table>
          </form>
        </mat-tab>
        <mat-tab label="GYMs" [disabled]='currentIndex !== 2'>
          <div class="tab-text">
            <p>
              Add your gyms to get started
            </p>
          </div>
          <form *ngFor="let key of setUpForm.get('gyms')['controls']" [formGroup]="key">
            <table>
              <div class="gym">
                <span class="form-field-header">Gym Name</span>
                <mat-form-field>
                  <input matInput
                       formControlName="gym_name">
                </mat-form-field>
                <div
                  *ngIf="!key.get('gym_name').valid && key.get('gym_name').touched"
                  class="help-block">
                  <span *ngIf="key.get('gym_name').errors['required']">This field is required!</span>
                </div>
                <span class="form-field-header">Gym Address</span>
                <mat-form-field>
                  <input matInput
                       formControlName="gym_address">
                </mat-form-field>
                <div
                  *ngIf="!key.get('gym_address').valid && key.get('gym_address').touched"
                  class="help-block">
                  <span *ngIf="key.get('gym_address').errors['required']">This field is required!</span>
                </div>
                <span class="form-field-header">Gym Phone</span>
                <mat-form-field>
                  <input matInput
                       formControlName="gym_phone"
                         type='text'
                         prefix="+ "
                         mask="0 000 000 00 000">
                </mat-form-field>
                <div
                  *ngIf="!key.get('gym_phone').valid && key.get('gym_phone').touched"
                  class="help-block">
                  <span *ngIf="key.get('gym_phone').errors['required']">This field is required!</span>
                  <span *ngIf="key.get('gym_phone').errors['range']">Phone Number should have next format: '3 777 777 77 77'</span>
                </div>
              </div>
            </table>
            <div class="grey-border-top"></div>
          </form>
          <button mat-button class="add-gym-button" (click)="addGym()">
            <mat-icon>add</mat-icon>
            Add Another Gym
          </button>
        </mat-tab>
      </mat-tab-group>
      <mat-card-actions>
        <button mat-raised-button  class="mat-primary" (click)="prev($event)" *ngIf="currentIndex > 0">Back</button>
        <button mat-raised-button class="mat-primary" (click)="checkTokenThanNext()" *ngIf="currentIndex === 0">Next</button>
        <button mat-raised-button  class="mat-primary" (click)="savePaymentSettings()" *ngIf="currentIndex === 1">Next</button>
        <button mat-raised-button  class="mat-primary" (click)="saveGyms()" *ngIf="currentIndex === 2">Save</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
